$envy: #2ecc71;
$pride: #9b59b6;
$wrath: #c0392b;
$sloth: #3498db;
$lust: #2980b9;
$greed: #f1c40f;
$gluttony: #e67e22;
@font-face {
    font-family: Granite;
    src: url(Granite.ttf);
}
@font-face {
    font-family: Gotham;
    src: url(GothamMedium.ttf);
}

body {
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    width: 100%;
    #envy { background-color: $envy; background-image: url(img/peacock.svg); background-size: cover; background-blend-mode: overlay}
    #pride { background-color: $pride; background-image: url(img/snake.svg); background-size: cover; background-blend-mode: overlay }
    #wrath { background-color: $wrath; background-image: url(img/lion.svg); background-size: cover; background-blend-mode: overlay }
    #sloth { background-color: $sloth; background-image: url(img/snail.svg); background-size: cover; background-blend-mode: overlay }
    #lust { background-color: $lust; background-image: url(img/goat.svg); background-size: cover; background-blend-mode: overlay }
    #greed { background-color: $greed; background-image: url(img/frog.svg); background-size: cover; background-blend-mode: overlay }
    #gluttony { background-color: $gluttony; background-image: url(img/pig.svg); background-size: cover; background-blend-mode: overlay }
    
    .sin {
        height: 100vh;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-left: 1px solid white;
        border-right: 1px solid white; 
        overflow: hidden;
        transition: 0.3s ease;
        opacity: 0.9;
        cursor: pointer;
        user-select: none;
        &:hover {
            opacity: 1;
        }
        p {
            font-family: gotham;
            color: aliceblue;
            text-transform: uppercase;
            &:nth-child(1) { font-size: 0px; letter-spacing: 5px; transform: translateY(-100%); opacity: 0 }
            &:nth-child(2) { font-size: 20px; font-family: Granite}
            &:nth-child(3) { font-size: 0px; letter-spacing: 5px; transform: translateY(100%); opacity: 0 }
            flex: 1 0 auto;
            justify-content: center;
            align-items: center;
            display: flex;
            transition: 0.5s ease;
            width: 100%;
        }
    }
    .sin.open-active p {
        &:first-child { transform: translateY(0); opacity: 1; font-size: 20px}
        &:nth-child(2) { 
            font-size: 40px;
            &:hover {
                background-color: black;
            }
        }
        &:last-child { transform: translateY(0); opacity: 1; font-size: 20px}
    }
    /*.sin.fadeSin {
        filter: grayscale(1);
    }*/
    .sin.open {
        flex: 3;
        opacity: 1;
        background-position: center;
    }
    
    .sin-exploration {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: black;
        opacity: 0;
        z-index: -1;
        transition: 0.5s;
        .sin-exploration-content {
            color: white;
            font-family: gotham;
            text-align: center;
            width: 80%;
            margin: 100px auto;
            cursor: alias;
            img {
                width: 30%;
                margin-top: 20px;
            }
        }
        .sin-exploration-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            cursor: pointer;
            z-index: -1;
        }
    }
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    color: white;
    transition: 0.5s;
    max-height: 0;
    overflow: hidden;
    z-index: 9999;
    /* &::before {
        position: absolute;
        content: '';
        width: 200px;
        height: 200px;
        top: -102px;
        left: 50%;
        border: 2px solid rgba(255,255,255,0.7);
        transform: rotate(45deg) translate(-50%,0);
        transform-origin: left;
        border-radius: 0 0 10px 0;
        box-shadow: 0 0 10px 1px rgba(255,255,255,0.1);
    } */
    .hamburger {
        position: fixed;
        left: 50%;
        top: 3vh;
        transform: translate(-50%,0);
        &:focus {
            outline: none;
        }
    }
    .content {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        height: 100vh;
        margin-top: 150px;
        z-index: 1;
        a {
            text-decoration: none;
            width: 50%;
            text-align: center;
            color: white;
            padding: 20px;
            font-size: 30px;
            font-family: gotham;
            transition: 0.5s;
            position: relative;
            overflow: hidden;
            z-index: 2;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: -140%;
                background-color: rgba(255,255,255,0.8);
                width: 120%;
                height: 100%;
                transform: skewX(45deg);
                transition: 0.3s;
                z-index: -1;
            }
            &:hover {
                color: black;
                &::before {
                    left: -10%;
                }
            }
        }
    }
    #overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
}
.active-nav {
    max-height: 100vh;
    background-color: rgba(0,0,0,0.9);
}
#hamburgerOnSection {
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        background-color: rgba(0,0,0,0.8);
    }
}





section {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: auto;
    transition: 1.5s;
    background-color: #fcfcfc;
    /*max-height: 0;*/
    overflow: hidden;
    display: flex;
    transition: all 1s;
}

.open-section {
    /*max-height: 500%;
    display: flex;*/
    left: 0;
}


.portfolio {
    display: flex;
    justify-content: center;
    p {
        position: absolute;
        top: 20px;
        font-family: granite;
        font-size: 50px;
    }
    .column {
        flex: .4;
        margin-top: 150px;
        img {
            width: 50%;
            display: block;
            margin: 100px auto;
            border-radius: 10px;
            transition: 0.5s;
            padding: 10px;
            cursor: pointer;
        }
        #envy:hover { background-color: $envy }
        #wrath:hover { background-color: $wrath }
        #sloth:hover { background-color: $sloth }
        #greed:hover { background-color: $greed }
        #lust:hover { background-color: $lust }
        #gluttony:hover { background-color: $gluttony }
        #pride:hover { background-color: $pride }
    }
}

.home {
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    background-image: url(img/zentangle-hand1.svg);
    background-position: 90% 50%;
    background-repeat: no-repeat;
    background-size: 900px;
    position: relative;
    p {
        margin-left: 10%;
        font-family: gotham;
        font-size: 50px;   
        span {
            font-size: 30px;
        }
        #iam {
            font-size: 80px;
        }
    }
    img {
        width: 100px;
        margin-top: 200px;
        margin-left: 10%;
    }
    .btn {
        width: 300px;
        margin-left: 10%; 
        border: 2px solid black;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        height: 50px;
        span {
            z-index: 2;
            font-size: 20px;
            font-family: gotham;
            position: absolute;
            transition: 0.3s;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%)
        }
        &::before {
            position: absolute;
            width: 140%;
            height: 90px;
            top: 0;
            left: -150%;
            background-color: rgba(0,0,0,0.8);
            content: '';
            transform: skewX(45deg);
            transition: 0.3s;
            z-index: 1;
        }
        &:hover::before {
            left: -15%;
        }
        &:hover {
            color: white;
        }
    }
    .svgani {
        position: absolute;
        top: 410px;
        left: 18%;
        width: 200px;
        path {
            stroke: black;
            fill: black;
            stroke-dasharray: 2300;
            opacity: 1;
            animation: pathani 4s ease-in-out alternate infinite;
            @keyframes pathani {
                0% {
                    opacity: 0;
                    fill: none;
                    stroke-dashoffset: 2300;
                }
                30% {
                    opacity: 10;
                    fill: none;
                    stroke-dashoffset: 2300;
                }
                90% {
                  fill: rgba(0,0,0,0);
                }
                100% {
                    opacity: 10;
                    fill: rgba(0,0,0,1);
                    stroke-dashoffset: 0;
                }
            }
        }
    }
}
.contact {
    background: url(img/flamingos-zentangle1.svg);
    background-position: top center;
    background-size: cover;
    height: 100vh;
}
.about-me {
    background: url(img/mushroom-zentangle1.svg);
    background-position: top center;
    background-size: cover;
    height: 100vh;
}
.story {
    display: flex;
    width: 100%;
    width: auto;
    .side-panel {
        width: 30%;
        background-color: crimson;
        height: 100vh;
    }
    .msin-story {
        width: 70%;
        height: 100v;
    }
}




